<div class="cat-record">
  <div class="cat-name">
    <h3><%= model.escape("name") %></h3>
  </div>

  <div class="cat-age">
    <h4><strong>age:</strong> <%= model.escape("age") %></h4>
  </div>

  <div class="cat-color">
    <h4><strong>color:</strong> <%= model.escape("color") %></h4>
  </div>
</div>
